<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ayotong.miranda">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdateProfileActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ayotong.miranda.MainActivity" />
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".GetStartedActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".WebViewActivity"
            android:screenOrientation="portrait">
        </activity>

        <!--android:theme="@style/Theme.Transparent"-->
        <activity
            android:name=".DialogActivity"

            android:screenOrientation="portrait">
        </activity>
        <service android:name=".Service.BackgroundSvc"/>

        <receiver
            android:enabled="true"
            android:name=".Service.ServiceReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="YouWillNeverKillMe"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <service
            android:name=".Service.BackgroundSvc"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>